<!DOCTYPE html>
<html>
<head>
	<title>milivro | box</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<form action="{{url_for('inicio')}}" method="post">
		<a href="/">Logout</a>
		<input type="name" name="livr" placeholder="Digite o nome do livro...">
		<input type="submit" value="Pesquisar" />
		<a href="">Estante</a><br>
	</form>
	<h3>Filtros</h3>
	<a href="/inicio/ficcão">ficção</a>
	<a href="/inicio/comedia">comédia</a>
	<a href="/inicio/acao">ação</a>
	<a href="/inicio/aventura">aventura</a>
	<a href="/inicio/juvenil">juvenil</a>
	<div>
		<img src= "{{ im1 }}">
		<h4>{{ l1 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im2 }}">
		<h4> {{ l2 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im3 }}">
		<h4>{{ l3 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im4 }}">
		<h4>{{ l4 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im5 }}">
		<h4>{{ l5 }}</h4>

	</div>
	<div>
		<img src= "{{ im6 }}">
		<h4>{{ l6 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im7 }}">
		<h4>{{ l7 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im8 }}">
		<h4>{{ l8 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im9 }}">
		<h4>{{ l9 }}</h4>
		
	</div>
	<div>
		<img src= "{{ im10 }}">
		<h4>{{ l10 }}</h4>
	</div>



</body>
</html>